.choiceButtons {
  margin-top: 30px;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.choiceButton {
  padding: 12px 20px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .choiceButton {
    padding: 12px 20px;
    font-size: 16px;
  }
}